@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* ! Variables */

:root {
  /* ! colors */
  --darkBlack: #000;
  --freshWhite: #fff;
  --darkModeBg: #495057;
  --darkModeText: rgb(85.099792%, 85.099792%, 85.099792%);
  --activeNav: #ffae00;

  /* ! values */
  --headerHight: 110px;
}

/* ! Variables end */

/* ! Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

p {
  margin-bottom: 0.5rem;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.text_shadow {
  text-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
}

/* ! Global styles end */

.dark_mode {
  background-color: var(--darkModeBg) !important;
  color: var(--darkModeText) !important;
}

nav {
  box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
}

.navbar .nav-item.active .nav-link,
.navbar .nav-item .nav-link:active,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item:hover .nav-link {
  color: var(--activeNav);
}

nav a {
  font-size: 1.2rem;
}

#dark_mode {
  display: none;
}
#dark_mode:checked + label {
  border: 2px solid var(--freshWhite);
}

#dark_mode:checked + label:before {
  transform: translateX(25px);
  background-color: var(--freshWhite) !important;
}
.fa-solid,
.far {
  color: var(--activeNav);
  font-size: larger;
}

label {
  display: flex;
  width: 50px;
  height: 25px;
  border: 2px solid var(--darkBlack);
  border-radius: 99em;
  position: relative;
  cursor: pointer;
}
label:before {
  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  transition: transform 350ms ease;
  /* transition-delay: 0.5s; */
  background-color: var(--darkBlack) !important;
  border-radius: 50%;
  top: 1px;
  left: 1px;
}

#author_name {
  color: var(--activeNav);
  font-size: larger;
  letter-spacing: 3px;
}

#type_writer {
  font-size: 1.8em;
}

#typing_bg {
  display: inline-block;
  width: 10ch;
  background-color: var(--activeNav);
  color: var(--freshWhite);
}
.type {
  animation: border 400ms linear infinite;
}
@keyframes border {
  0% {
    border-right: none;
  }
  100% {
    border-right: 5px solid var(--darkBlack);
    border-color: var(--freshWhite);
  }
}

section {
  min-height: 100vh;
  padding-top: var(--headerHight);
  overflow: hidden;
  background-image: url(./assets/banner_bg.svg);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}

#blob {
  height: 60%;
}

#about_content embed {
  width: 80%;
}

.title {
  font-size: 4rem;
  text-shadow: 2px 2px 3px var(--activeNav);
}

.slides-container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 10;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slide div {
  overflow-y: scroll;
  scrollbar-width: none;
}

.slide div::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.slide:nth-child(1) {
  background-color: #49b2923a;
}

.slide:nth-child(2) {
  background-color: #b0343231;
}

.slide:nth-child(3) {
  background-color: #6a478f3d;
  margin: 0;
}

.slide:nth-child(4) {
  background-color: #da6e2b2a;
}

.slide:nth-child(5) {
  background-color: #3bb7a42a;
}

.slide:nth-child(6) {
  background-color: #c23e842a;
}

.slide:nth-child(7) {
  background-color: #6a478f3d;
}

.form_container {
  height: 100vh;
  width: 100vw;
}
.contact_info {
  overflow: hidden;
  margin: 0 auto;
}
.contact_link {
  display: flex;
}
.contact_link i {
  font-size: 1.2rem;
  padding: 20px;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px 0;
}
.contact_link p,
.contact_link a {
  font-size: 1.2rem;
  margin-left: 10px;
  align-self: center;
  text-decoration: none;
}
.from_area {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 95vw;
  outline: 1px solid var(--darkBlack);
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  outline-offset: -5px;
}

.form_img {
  mix-blend-mode: multiply;
  filter: opacity(0.2);
  -webkit-filter: opacity(0.2);
}

#contact_form {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.spam_email {
  display: none;
}

#my_email,
#text_area {
  width: 95%;
}

.input_area {
  position: relative;
  margin-bottom: 25px;
}

.input_area input,
.input_area textarea {
  border: none;
  outline: none;
  border-bottom: 2px solid red;
  margin: auto 10px;
  font-size: 1.2rem;
  background: transparent;
  resize: none;
  transition: border-bottom 0.5s;
  -webkit-transition: border-bottom 0.5s;
  -moz-transition: border-bottom 0.5s;
  -ms-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
}

.input_area span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  margin: auto 10px;
  color: red;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.input_area input:focus ~ span,
.input_area textarea:focus ~ span {
  top: -20px;
  font-size: small;
  color: red;
}

.input_area input:valid ~ span,
.input_area textarea:valid ~ span {
  top: -20px;
  font-size: small;
  color: green;
}

.input_area input:valid,
.input_area textarea:valid {
  border-bottom: 2px solid green;
}

.from_area #contact_form input[type="submit"] {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  border: 5px solid white;
  background: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  box-shadow: -2px 2px 2px rgb(224, 224, 224), -7px 7px 2px rgb(138, 138, 138);
}
.from_area #contact_form input[type="submit"]:hover {
  box-shadow: -3px 3px 5px rgb(214, 214, 214), -3px 3px 10px rgb(102, 102, 102),
    inset -3px 3px 5px rgb(214, 214, 214),
    inset -3px 3px 10px rgb(102, 102, 102);
}
@media only screen and (min-width: 620px) {
  .from_area {
    height: 320px;
    width: 80%;
    padding: 10px;
    display: flex;
    outline-offset: -10px;
  }
  .form_img {
    display: none;
  }
  .input_area {
    margin-bottom: 0;
  }
  #contact_form {
    height: auto;
    position: relative;
    top: 0%;
    left: 0%;
    flex: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  #contact_form .form_name {
    display: flex;
    width: 98%;
  }
  .form_name .input_area {
    flex: 1;
    display: flex;
  }
  .form_name input {
    flex: 1;
  }
}
@media only screen and (min-width: 992px) {
  .contact_link {
    justify-content: center;
  }
  .from_area {
    height: auto;
    width: auto;
    margin: 0 auto;
  }
  .form_img {
    display: block;
    clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);
    filter: none;
    -webkit-filter: none;
  }
}

#footer {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media only screen and (max-width: 767px) {
  #footer {
    text-align: center;
  }
}

#social-link i {
  margin: 0 5px;
}

#social-link a i {
  font-size: 28px;
}

i.fa-linkedin {
  color: #0a66c2;
}
i.fa-facebook-messenger {
  color: #1877f2;
}
i.fa-whatsapp-square {
  color: #41e95f;
}
